.aider*
node-modules
package-lock.json
/.nbb/
/node_modules/
/.DS_Store
/README.html
/public/plugins/
/target/

# Vendor cache for standalone builds (downloaded on demand)
node_modules/.cache/plin-vendor/
