[{:id :plinpt.i-devdoc :tags [:shared] :files ["libs/plinpt/i_devdoc.cljs"] :entry "plinpt.i-devdoc"}
 {:id :plinpt.i-app-shell :tags [:shared] :files ["libs/plinpt/i_app_shell.cljs"] :entry "plinpt.i-app-shell"}
 {:id :plinpt.i-nav-bar :tags [:shared] :files ["libs/plinpt/i_nav_bar.cljs"] :entry "plinpt.i-nav-bar"}
 {:id :plinpt.i-breadcrumb :tags [:shared] :files ["libs/plinpt/i_breadcrumb.cljs"] :entry "plinpt.i-breadcrumb"}
 {:id :plinpt.i-homepage :tags [:shared] :files ["libs/plinpt/i_homepage.cljs"] :entry "plinpt.i-homepage"}
 {:id :plinpt.i-session :tags [:shared] :files ["libs/plinpt/i_session.cljs"] :entry "plinpt.i-session"}
 {:id :plinpt.i-authorization :tags [:shared] :files ["libs/plinpt/i_authorization.cljs"] :entry "plinpt.i-authorization"}
 {:id :plinpt.i-admin :tags [:shared] :files ["libs/plinpt/i_admin.cljs"] :entry "plinpt.i-admin"}
 {:id :plinpt.i-admin-authorization :tags [:shared] :files ["libs/plinpt/i_admin_authorization.cljs"] :entry "plinpt.i-admin-authorization"}
 {:id :plinpt.i-service-invoker :tags [:shared] :files ["libs/plinpt/i_service_invoker.cljs"] :entry "plinpt.i-service-invoker"}
 {:id :plinpt.i-service-authorization :tags [:shared] :files ["libs/plinpt/i_service_authorization.cljs"] :entry "plinpt.i-service-authorization"}
 {:id :plinpt.i-db :tags [:shared] :files ["libs/plinpt/i_db.cljs"] :entry "plinpt.i-db"}
 {:id :plinpt.i-tracer :tags [:shared] :files ["libs/plinpt/i_tracer.cljs"] :entry "plinpt.i-tracer"}
 {:id :plinpt.i-ui-components :tags [:shared] :files ["libs/plinpt/i_ui_components.cljs"] :entry "plinpt.i-ui-components"}
 {:id :plinpt.i-devtools :tags [:shared] :files ["libs/plinpt/i_devtools.cljs"] :entry "plinpt.i-devtools"}
 {:id :plinpt.i-dynamic-loader :tags [:shared] :files ["libs/plinpt/i_dynamic_loader.cljs"] :entry "plinpt.i-dynamic-loader"}
 {:id :plinpt.i-development :tags [:shared] :files ["libs/plinpt/i_development.cljs"] :entry "plinpt.i-development"}
 
 ;; Implementations (UI / Demo)
 {:id :plinpt.p-app-shell :tags [:ui] :files ["libs/plinpt/p_app_shell/doc.cljs" "libs/plinpt/p_app_shell/core.cljs" "libs/plinpt/p_app_shell.cljs"] :entry "plinpt.p-app-shell"}
 {:id :plinpt.p-nav-bar :tags [:ui] :files ["libs/plinpt/p_nav_bar/core.cljs" "libs/plinpt/p_nav_bar.cljs"] :entry "plinpt.p-nav-bar"}
 {:id :plinpt.p-breadcrumb :tags [:ui] :files ["libs/plinpt/p_breadcrumb/core.cljs" "libs/plinpt/p_breadcrumb.cljs"] :entry "plinpt.p-breadcrumb"}
 {:id :plinpt.p-homepage :tags [:ui] :files ["libs/plinpt/p_homepage/core.cljs" "libs/plinpt/p_homepage.cljs"] :entry "plinpt.p-homepage"}
 {:id :plinpt.p-session :tags [:ui] :files ["libs/plinpt/p_session/utils.cljs" "libs/plinpt/p_session/service.cljc" "libs/plinpt/p_session/core.cljs" "libs/plinpt/p_session.cljs"] :entry "plinpt.p-session"}
 {:id :plinpt.p-admin :tags [:ui] :files ["libs/plinpt/p_admin/core.cljs" "libs/plinpt/p_admin.cljs"] :entry "plinpt.p-admin"}
 {:id :plinpt.p-admin-authorization :tags [:ui] :files ["libs/plinpt/p_admin_authorization/core.cljs" "libs/plinpt/p_admin_authorization.cljs"] :entry "plinpt.p-admin-authorization"}
 {:id :plinpt.p-ui-components :tags [:ui] :files ["libs/plinpt/p_ui_components/core.cljs" "libs/plinpt/p_ui_components.cljs"] :entry "plinpt.p-ui-components"}
 {:id :plinpt.p-devdoc :tags [:ui] :files ["libs/plinpt/p_devdoc/core.cljs" "libs/plinpt/p_devdoc.cljs"] :entry "plinpt.p-devdoc"}
 {:id :plinpt.p-devtools :tags [:ui] :files ["libs/plinpt/p_devtools/core.cljs" "libs/plinpt/p_devtools.cljs"] :entry "plinpt.p-devtools"}
 {:id :plinpt.p-development :tags [:ui] :files ["libs/plinpt/p_development/core.cljs" "libs/plinpt/p_development.cljs"] :entry "plinpt.p-development"}
 {:id :plinpt.p-dynamic-loader :tags [:ui] :files ["libs/plinpt/p_dynamic_loader/core.cljs" "libs/plinpt/p_dynamic_loader.cljs"] :entry "plinpt.p-dynamic-loader"}
 {:id :plinpt.p-tracer :tags [:ui] :files ["libs/plinpt/p_tracer/core.cljs" "libs/plinpt/p_tracer/ui.cljs" "libs/plinpt/p_tracer.cljs"] :entry "plinpt.p-tracer"}
 {:id :plinpt.p-schema-visualizer :tags [:ui] :files ["libs/plinpt/p_schema_visualizer/core.cljs" "libs/plinpt/p_schema_visualizer/ui.cljs" "libs/plinpt/p_schema_visualizer.cljs"] :entry "plinpt.p-schema-visualizer"}
 {:id :plinpt.p-debug :tags [:ui] :files ["libs/plinpt/p_debug/common.cljs" "libs/plinpt/p_debug/raw_view.cljs" "libs/plinpt/p_debug/plugins_ui.cljs" "libs/plinpt/p_debug/plugin_graph.cljs" "libs/plinpt/p_debug/beans_ui.cljs" "libs/plinpt/p_debug/bean_graph.cljs" "libs/plinpt/p_debug/core.cljs" "libs/plinpt/p_debug.cljs"] :entry "plinpt.p-debug"}
 
 ;; Demo Implementations (Browser-only)
 {:id :plinpt.p-alasql-db :tags [:demo] :files ["libs/plinpt/p_alasql_db/core.cljs" "libs/plinpt/p_alasql_db.cljs"] :entry "plinpt.p-alasql-db"}
 {:id :plinpt.p-alasql-explorer :tags [:demo] :files ["libs/plinpt/p_alasql_explorer/core.cljs" "libs/plinpt/p_alasql_explorer.cljs"] :entry "plinpt.p-alasql-explorer"}
 {:id :plinpt.p-service-invoker-demo :tags [:demo] :files ["libs/plinpt/p_service_invoker_demo/core.cljs" "libs/plinpt/p_service_invoker_demo.cljs"] :entry "plinpt.p-service-invoker-demo"}
 {:id :plinpt.p-service-authorization :tags [:demo] :files ["libs/plinpt/p_service_authorization/core.cljs" "libs/plinpt/p_service_authorization.cljs"] :entry "plinpt.p-service-authorization"}
 {:id :plinpt.p-db-tools :tags [:demo] :files ["libs/plinpt/p_db_tools/core.cljs" "libs/plinpt/p_db_tools.cljs"] :entry "plinpt.p-db-tools"}
 
 ;; Client Implementations (Remote)
 {:id :plinpt.p-service-invoker-remote :tags [:client] :files ["libs/plinpt/p_service_invoker_remote/core.cljs" "libs/plinpt/p_service_invoker_remote.cljs"] :entry "plinpt.p-service-invoker-remote"}]
